.App {
  /* text-align: center; */
  /* width: 80vw; */
}

.Message {
  position: absolute;
  top: 80%;
  left: 2%;
  width: 300px;
  height: 70px;
  background-color: rgb(6, 248, 167);
}

.Cursor {
  cursor: pointer;
}

.Gap20 {
  gap: 20px;
}

.Center {
  text-align: center;
}

.Height50 {
  height: 50vh;
}

.Image {
  width: 70px;
}
